
body,html{
    height: 100%;
    
    font-weight: 400;
    font-size: 16px;
    color:$default;
    line-height: 26px;
    @extend %quicksand-500;
}
.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}


.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.header{
    flex: 1 1 auto;
}

.header__inner{
    display: flex;
    justify-content: space-between;
   padding: 40px 0;;
}



.logo img{
    width: 195px;
}



.menu__list{
    
    display: flex;
}

.menu__list-item + .menu__list-item{
    padding-left: 35px;

}

.menu__list-link {
    color: black;
    font-size: 22px;
    transition: all .3s;
    @extend %quicksand-500;
    &:hover{
        color: $accent;
        border-bottom: 2px solid $accent;
        padding-bottom: 4px;
    }
}

.user__nav{
    display: flex;
}
.user__nav-link +.user__nav-link {
    padding-left: 25px;

}
.user__nav-link{
    position: relative;
}
.user-nav__num{
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: $accent;
    text-align: center;
    top: -9px;
    right: -14px;
    color: aliceblue;
    font-family:"quicksand";
    font-size: 12px;
    line-height: 20px;
    


}

.footer {
    background-image: url("../images/footer_back.png");
}

.footer__inner {
    & img{
        width: 20px;
    }
    display: flex;
    padding : 30px 0px ;

}

.footer__column {
   
    & div{
        margin-bottom: 15px;

    }
}
.footer__column+.footer__column{
    margin-left: 60px;
}

.logo__footer img{
    width:160px;
    padding-bottom: 17px;
    min-width: 160px;
}
.footer__text {
    font-size: 16px;
    color: rgb(157, 157, 157);
    font-family: "quicksand";

}

.footer__icons {
    display: flex;
    margin-top: 20px;
}

.footer__icon+.footer__icon{
    padding-left: 20px;

}

.footer__title {
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 20px;

}

.footer__form{
    max-width: 470px;
    padding-left: 20px;
}

.slider-2 {
    padding: 135px 0;

}



.slider-2__title {
    font-size: 48px;
    font-family: "roboto";
    text-align: center;

}

.slider-2__text {
    font-size: 16px;
    font-family: "QuickSand";
    text-align: center;
}

.slider-2__blocks {


}

.slider-2__blocks-inner {
    display: grid;
    grid-template-columns: 370px 370px ;
    grid-template-rows: 300px 300px ;
    grid-row-start: 1;
    grid-row-end: 3;
    gap: 15px;

}

.slider-2__block {

}

.slider-2__block-1 {
    background-color: pink;

}

.slider-2__block-pretitle {
}

.slider-2__block-title {

}

.slider-2__block-text {

}

.slider-2__block-2 {
    background-color: rgb(81, 133, 216)

}

.slider-2__block-3 {
    background-color:yellow;

}

.slider-2__block-4 {
    background-color: rgb(192, 192, 192);

}
